table tr:first-line {
    background: goldenrod !important;
}

table tr:odd{
    background:gray;
}

h2 {
    font-size: 16px;

}

.null {
	background: red !important;
}

.crm-container td{
	border: 2px solid white !important;
}

#leaderList a.selected {
	background:wheat;
}

#memberStatus,
.lMemberStatus {
    /*float:left;*/
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

#divStats {
    float:right;
    border: 1px solid gray;
    padding: 5px;
    box-shadow: gray 9px 11px 15px -4px;
}
#loader {
  position: fixed;
 left: 35%;
 padding-top: 100px;
  height: 100%;

}
#loader img {
     
}

#memberStatsNotes {
    width:215px;
    font-size:9px;
    padding-bottom:10px;
}

#memberStats {
    vertical-align:bottom;
    width:200px;
}

#memberList {
    width:auto;
}
#divDcGroupFilter {
    float:left;
    width: 245px;
    border: 1px solid gray;
    padding: 10px;
    margin-right: 10px;
}
#memberStatusFilter {
    width: 245px;
    border: 1px solid gray;
    padding: 10px;
}

#divGetMembersButton {
    padding-top:5px;
    
}



#bGetBirthdays {
    display: block;
}

/* SEARCH FILTER ROW */
.queryField {
    display: inline-block;
    height: 50px;
    vertical-align: top;
    font-weight: bold;
}

.queryField div {
    padding-bottom: 4px;
}
.filterField {
    margin-right: 10px;
    vertical-align: middle;

}
.searchFields {
    border: solid 2px #CCC;
    padding:6px;
    background: gainsboro;
}